
    
    .clear{
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: red;
        color: antiquewhite;
    }
    .backSpace{
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: brown;
        color: aliceblue;
        
    }
    
    .number{
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #13aa1f;
    }
    
    .equals{
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: blue;
        color: aliceblue;
        grid-column: 3/5;
        grid-row: 5;
    }
    .operator{
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: rebeccapurple;
    }