@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  top: 15%;
  left: 35%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  
}

* {
  background: #101010;
}

h1 {
  font-size: 25px;
  color: aliceblue;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

h3 {
  
  color: azure;
}
.operations{
    margin-left: 15%;
}