@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

input[type='text']{
    margin: 5px;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 287px;
    background-color: rgb(15, 199, 231);
    text-align: right;
    font-size: 30px;
}